h1 {
    color: rgb(3, 2, 1);
    font-size: 50px;
    text-align: center;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Use apenas um body e corrija o background */
body {
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background: linear-gradient(-45deg, #918d8d, #796d6d, #ffffff, #9cb933);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

/* Corrija a cor do h2 */
h2 {
    color: rgb(65, 63, 63);
}

/* Corrija a animação do gradiente */
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
